






@import url(http://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #000;
  color: #666;
  font-family: 'Open Sans', arial, sans-serif;
  width: 960px;
  margin: 0 auto 0 auto;}

h1 {
  font-weight: normal;
  margin: 1em 0 0 0;
  float: left;
  width: 225px;
  height: 90px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;}

 h2 {
  margin: 1.75em 0 0 0;
  color: #E8A812; 
  font-weight: normal;
}
h2 + p {
  margin: 0.25em 0 0 0;}
p + p {
  margin: 0;}
p + h2 {
  margin: 10px 0 0 0;
}nav {
	padding: 1%;
    margin-bottom: 1%;
 
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}/*---end rules for navbar--*/

/* Structure */
#content {
  clear: both;
  margin-top: 10px;}
.third {
  width: 320px;
  float: left;}
.two-thirds {
  width: 640px;
  float: left;}

p {margin-top: 0;}



/* Forms */
form {
  margin: 0;
  font-size: 160%;}

.third form {width: 90%;}

label {
  float: left; 
  width: 6em;
  margin-top: 10px;}

input, textarea {
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  background-color: #efefef;
  font-size: 100%;
  width: 100%;
  padding: 0.3em 0.5em 0.3em 0.5em;}

textarea {
  height: 5em;
  line-height: 1.4em;}

input[type=submit] {
  background-color: #1fb684;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: auto;
  clear:left;
  float: right;
  padding: 0.3em 0.5em 0.3em 0.5em;
  margin: 0.5em 0 0 0;}

input[type=submit]:hover {
  background-color: #000;
  cursor: pointer;}

#loc {padding-top: 2em;}
#container {line-height: 1.6em; margin: 2em 6em 3em 6em;}
#price-range .ui-slider-handle {z-index: 1;}

/*Tablet Viewport: Style rules for nav area */
  nav li {
    border-top: none;
    display: inline-block;
    border-right: 1px solid #fff;
  }

  nav li:last-child {
    border-right: none;
  }

 nav li a {
  padding: 0.1em 0.75em;
}/*---- end style rules for nav area */

                                  /* Tablet Viewport: Style rules for main content area */
 main ul {
   margin: 0 0 4% 10%
 }/*---end style rules main content*/

}/*-------end Media Query Tablet viewport */

                              /* Media Query for Desktop Viewport */

@media screen and (min-width:1015px), print {

  /* Desktop Viewport: Style rule for header */
  header {
    width: 25%;
    float: left;
    padding-bottom: 0;
  }/*---end style rule for header*/

  /* Desktop viewport: Style rules for nav area  */
  nav {
    float: right;
    width: 70%;
    margin: 4em 1em 0 0;
}

  nav ul {
     text-align: right;
      }

      nav li {
        border: none;
      }

      nav li a {
        padding: 0.5em 1em;
      }

      nav li a:hover {
        color: #000;
        background-color: #fff;
      }

      /* Desktop viewport: Style rules for main content */
      main {
        clear: left;

 


      }/*---end main content */

}/*-----end Media Query desktop Viewports */

   
                                          /* Media Query for Large Desktop Viewports */
@media screen and (min-width:1921px) {

}/*---- end Media Query Large Desktop Viewports */

                                            /* Media Query  for Print */
@media print {

  body{
    background-color: #fff;
    color:  #000;
  }
}/*-----End  Media query for Print*/





